MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://epay.halaleventbrite.co.ke/api/callback
MPESA_BASE_URL=https://api.safaricom.co.ke

PORT=3070
HOST=0.0.0.0
MAIN_WEBSITE_URL=https://ticketing.halaleventbrite.co.ke
EMAIL_DOMAIN=mailer.halaleventbrite.co.ke
MAILER_DOMAIN=mailer.halaleventbrite.co.ke

FIREBASE_PROJECT_ID=halaleventbrite
FIREBASE_SERVICE_ACCOUNT=
FIREBASE_SERVICE_ACCOUNT_BASE64=

SESSION_SECRET=
